{% extends 'base.html' %}
{% block title %}veículo - Editar{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}
{% block content %}

{% load bootstrap5 %}

<div>
    <div class="container">
    <div class="row">
        <div class="col my-3">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        <!-- Security token -->
                        {% csrf_token %}
                        <!-- Using the formset -->
                        {% bootstrap_form form %}
                        <div class="d-flex justify-content-end">
                            <a href={% url 'veiculo_list' %}  class="btn btn-secondary">Voltar</a>
                            <button style="margin-left: 9px;" type="submit" class="btn btn-success">Salvar</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}